#listProdukDibeliTable tr td:nth-child(5), th:nth-child(5) {
    /* display: none; */
}

body {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.ui-state-default, .ui-datepicker-prev, .ui-datepicker-next {
    margin-top: 0;
    margin-bottom: 0;
}

h1, a {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.buttonHolder {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

