{% extends 'base_with_login.html' %}
{% load static  %}
{% block title  %}
    {% block title_apotek %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    {% endblock %}
    <div class="mb-2 mt-2">
    <a href="{% url 'apotek:list_apotek' %}">
          <button type="button" class="btn btn-sm btn-primary">Daftar Apotek</button>
    </a>
    {% if request.session.role == "ADMIN_APOTEK" %}
    <a href="{% url 'apotek:create_apotek' %}">
          <button type="button" class="btn btn-sm btn-primary">Create Apotek</button>
    </a>
    {% endif %}
    <a href="{% url 'apotek:list_produk_apotek' %}">
          <button type="button" class="btn btn-sm btn-primary">Daftar Produk Apotek</button>
    </a>
    {% if request.session.role == "ADMIN_APOTEK" %}
    <a href="{% url 'apotek:create_produk_apotek' %}">
          <button type="button" class="btn btn-sm btn-primary">Create Produk Apotek</button>
    </a>
    {% endif %}
    </div>
    {% block content_apotek %}
    {% endblock %}
{% endblock %}