{% extends 'apotek/base_apotek.html' %}
{% load static %}

{% block cssJs %}
<script src = "{% static 'create_produk_apotek.js' %}"></script>
{% endblock %}

{% block title_apotek %}
    <title>Create Produk Apotek</title>
{% endblock %}

{% block title_below %}
    <h1 class="text-center">Create Produk Apotek</h1>
    {% endblock %}
{% block content_apotek %}
    {% if form or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
    <div>
    <form method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="id_apotek">ID Apotek</label>
        <select name="id_apotek" class="form-control" id="id_apotek">
          {% for id_apotek in list_id_apotek %}
              {% if id_apotek == data.id_apotek %}
                <option value="{{ id_apotek }}" selected>{{ id_apotek }}</option>
              {% else %}
                  <option value="{{ id_apotek }}">{{ id_apotek }}</option>
            {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="id_produk">ID Produk</label>
        <select name="id_produk" class="form-control" id="id_produk">
          {% for id_produk in list_id_produk %}
              {% if id_produk == data.id_produk %}
                <option value="{{ id_produk }}" selected>{{ id_produk }}</option>
              {% else %}
                  <option value="{{ id_produk }}">{{ id_produk }}</option>
            {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="harga_jual">Harga Jual</label>
        <input type="number" name="harga_jual"  class="form-control" id="harga_jual" placeholder="Masukkan Harga" required
               value="{{ data.harga_jual }}" min="0">
      </div>
       <div class="form-group">
        <label for="satuan_penjualan">Satuan Penjualan</label>
        <input type="text" name="satuan_penjualan" class="form-control" id="satuan_penjualan" placeholder="Masukkan Jenis Satuan" required
               value="{{ data.satuan_penjualan }}" maxlength="5">
      </div>
      <div class="form-group">
        <label for="stok">Stok</label>
        <input type="number" name="stok" class="form-control" id="stok" placeholder="Masukkan Jumlah stok" required
               value="{{ data.stok }}" min="0">
      </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
{% endblock %}