{% extends 'apotek/base_apotek.html' %}

{% block title_apotek %}
    <title>Create Apotek</title>
{% endblock %}

{% block title_below %}
    <h1 class="text-center">Create Apotek</h1>
    {% endblock %}
{% block content_apotek %}
    {% if form or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}

    <div>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="nama_apotek">Nama Apotek</label>
        <input type="text" name="nama_apotek"  class="form-control" id="nama_apotek" placeholder="Nama Apotek" required>
      </div>
       <div class="form-group">
        <label for="alamat_apotek">Alamat Apotek</label>
        <input type="text" name="alamat_apotek" class="form-control" id="alamat_apotek" placeholder="Alamat Apotek" required>
      </div>
      <div class="form-group">
        <label for="telepon_apotek">No telp Apotek</label>
        <input type="text" name="telepon_apotek" class="form-control" id="telepon_apotek" placeholder="No Telp Apotek" required>
      </div>
       <div class="form-group">
        <label for="nama_penyelenggara">Nama Penyelenggara</label>
        <input type="text" name="nama_penyelenggara" class="form-control" id="nama_penyelenggara" placeholder="Nama Penyelenggara" required>
      </div>
       <div class="form-group">
        <label for="no_sia">No SIA Penyelenggara</label>
        <input type="text" name="no_sia" class="form-control" id="no_sia" placeholder="No SIA Penyelenggara" required>
      </div>
       <div class="form-group">
        <label for="email">Email Penyelenggara</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
      </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
{% endblock %}