{% extends 'apotek/base_apotek.html' %}

{% block title_apotek %}
    <title>Produk Apotek</title>
{% endblock %}

{% block title_below %}
    <h1 class="text-center">Produk Apotek</h1>
    {% endblock %}
{% block content_apotek %}
 <table class="table">
  <thead>
    <tr>
      <th scope="col">ID Produk</th>
      <th scope="col">ID Apotek</th>
      <th scope="col">Harga Jual</th>
      <th scope="col">Satuan Penjualan</th>
      <th scope="col">Stok</th>
      {% if request.session.role == "ADMIN_APOTEK" %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
   {% for data in content  %}
    <tr>
      <td>{{ data.id_produk }}</td>
      <td>{{ data.id_apotek }}</td>
      <td>{{ data.harga_jual }}</td>
      <td>{{ data.satuan_penjualan }}</td>
      <td>{{ data.stok}}</td>
      {% if request.session.role == "ADMIN_APOTEK" %}
      <td>
          <a href="{% url 'apotek:delete_produk_apotek' id_apotek=data.id_apotek id_produk=data.id_produk %}">
              <button type="button" class="btn btn-sm btn-primary">Delete</button>
          </a>
          <a href="{% url 'apotek:to_update_produk_apotek' id_apotek=data.id_apotek id_produk=data.id_produk %}">
              <button type="button" class="btn btn-sm btn-primary">Update</button>
          </a>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
 </tbody>
</table>
{% endblock %}
