{% extends 'apotek/base_apotek.html' %}

{% block title_apotek %}
    <title>Apotek</title>
{% endblock %}

    {% block title_below %}
    <h1 class="text-center">Daftar Apotek</h1>
    {% endblock %}
    {% block content_apotek %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID Apotek</th>
      <th scope="col">Nama Apotek</th>
      <th scope="col">Alamat Apotek</th>
      <th scope="col">No Telp Apotek</th>
      <th scope="col">Nama Penyelenggara</th>
      <th scope="col">No SIA Penyelenggara</th>
      <th scope="col">Email Penyelenggara</th>
      {% if request.session.role == "ADMIN_APOTEK" %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for data in content  %}
    <tr>
      <td>{{ data.id_apotek }}</td>
      <td>{{ data.nama_apotek }}</td>
      <td>{{ data.alamat_apotek }}</td>
      <td>{{ data.telepon_apotek }}</td>
      <td>{{ data.nama_penyelenggara }}</td>
      <td>{{ data.no_sia }}</td>
      <td>{{ data.email }}</td>
      {% if request.session.role == "ADMIN_APOTEK" %}
      <td>
          <a href="{% url 'apotek:delete_apotek' id=data.id_apotek %}">
          <button type="delete" class="btn btn-sm btn-primary"> Delete</button>
          </a>
          <a href="{% url 'apotek:to_update_apotek' id=data.id_apotek %}">
          <button type="button" class="btn btn-sm btn-primary">Update</button>
          </a>
      </td>
      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
