{% extends 'basetr.html' %}
{% load static %}
{% block cssJs %}
    <link rel="stylesheet" href="{% static 'create.css' %}">
{% endblock %}
{% block title %}
    <title>Create Transaksi Pembelian</title>
{% endblock %}

{% block content %}
    <div>
        <h1>Create Transaksi Pembelian</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                
                <tr>
                    <td>ID Konsumen</td>
                    <td>
                        <select name="id_konsumen_select" id="id_konsumen_select">
                            <option value="none">none</option>
                            {% for id in idkonsumen %}
                                <option value="{{id.id_konsumen}}">{{id.id_konsumen}}</option>
                            {%  endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-sm btn-primary">SUBMIT</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

