{% extends 'basetr.html' %}
{% load static %}
{% block cssJs %}
    <link rel="stylesheet" href="{% static 'daftar_transaksi_pembeli.css' %}">
{% endblock %}
{% block title %}
    <title>Daftar Transaksi Pembelian</title>
{% endblock %}
{% block content %}
    <div>
        <table>
            <h1>Daftar Transaksi Pembelian</h1>
            <tr>
                <th>ID Transaksi</th>
                <th>Waktu Pembelian</th>
                <th>Total Pembayaran</th>
                {% if request.session.role != "KONSUMEN" %}
                <th>ID Konsumen</th>
                {% endif %}
                {% if request.session.role == "ADMIN_APOTEK" %}
                <th>Action</th>
                {% endif %}
            </tr>
            
            {% for item in table %}
            <tr>
                <td>{{ item.id_transaksi_pembelian }}</td>
                <td>{{ item.waktu_pembelian }}</td>
                <td>{{ item.total_pembayaran }}</td>
                {% if request.session.role != "KONSUMEN" %}
                <td>{{ item.id_konsumen }}</td>
                {% endif %}
                {% if request.session.role == "ADMIN_APOTEK" %}
                <td>
                    <a href="{% url 'transaksi_pembelian:update' item.id_transaksi_pembelian item.waktu_pembelian item.total_pembayaran %}"><button type="button" class="btn btn-sm btn-primary">Update</button></a>
                    <a href="{% url 'transaksi_pembelian:delete' item.id_transaksi_pembelian %}"><button type="button" class="btn btn-sm btn-primary">Delete</button></a> 
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            
        </table>
    </div>
{% endblock %}    