{% extends 'basetr.html' %}
{% load static %}
{% block cssJs %}
    <link rel="stylesheet" href="{% static 'profil.css' %}">
{% endblock %}
{% block title %}
    <title>Profil Pengguna</title>
{% endblock %}
{% block content %}
    <div>
        <h1>Profil Pengguna</h1>
        <table>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Nama Lengkap</th>
                <th>No Telepon</th>

                {% if request.session.role == "KONSUMEN" %}
                <th>Jenis Kelamin</th>
                <th>Tanggal Lahir</th>
                <th>Alamat</th>
                {% endif %}

                {% if request.session.role == "KURIR" %}
                <th>Nama Perusahaan</th>
                {% endif %}

                {% if request.session.role == "CS" %}
                <th>No KTP</th>
                <th>No SIA</th>
                {% endif %}
            </tr>

            
            <tr>
                <td>{{ pengguna.email }}</td>
                <td>{{ pengguna.password }}</td>
                <td>{{ pengguna.nama_lengkap }}</td>
                <td>{{ pengguna.telepon }}</td>

                {% if request.session.role == "KONSUMEN" %}
                <td>{{ konsumen.jenis_kelamin }}</td>
                <td>{{ konsumen.tanggal_lahir }}</td>
                <td>
                    <p>
                        {% for alamat_pengguna in alamat %}
                        <br>
                       {{ alamat_pengguna.alamat }}
                       <br>
                       {% endfor %}
                    </p>
                </td>
                {% endif %}

                {% if request.session.role == "KURIR" %}
                <td>{{ kurir.nama_perusahaan }}</td>
                {% endif %}

                {% if request.session.role == "CS" %}
                <td>{{ cs.no_ktp }}</td>
                <td>{{ cs.no_sia }}</td>
                {% endif %}
            </tr>
        
        </table>
    </div>
{% endblock %}