{% extends 'basetr.html' %}
{% load static %}
{% block cssJs %}
    <link rel="stylesheet" href="{% static 'update.css' %}">
{% endblock %}
{% block title %}
    <title>Update Transaksi Pembelian</title>
{% endblock %}
{% block content %}
    <div>
        <h1>Update Transaksi Pembelian</h1>
        <form method="POST">
            {% csrf_token %}
            
            <table>
                <tr>
                    <td>ID Transaksi</td>
                    <td>
                        <input type="text" name="ID Transaksi" id="id_transaksi_pembelian" value={{ id_transaksi_pembelian }} disabled>
                    </td>
                </tr>
                <tr>
                    <td>Waktu Pembelian</td>
                    <td>
                        <input type="text" name="Waktu Pembelian" id="waktu_pembelian" value={{ waktu_pembelian }} disabled>
                    </td>
                </tr>
                <tr>
                    <td>Total Pembayaran</td>
                    <td>
                        <input type="text" name="Total Pembayaran" id="total_pembayaran"  value={{ total_pembayaran }} disabled>
                    </td>
                </tr>
                <tr>
                    <td>ID Konsumen</td>
                    <td>
                        <select name="id_konsumen_select" id="id_konsumen_select">
                            <option value="none">none</option>
                            {% for id in idkonsumen %}
                                <option value="{{id.id_konsumen}}">{{id.id_konsumen}}</option>
                            {%  endfor %}
                        </select>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-sm btn-primary">UPDATE</button>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
{% endblock %}