{% extends 'base.html' %}
{% load static %}
{% block cssJs %}
{% endblock %}
{% block title %}
    <title>Update Transaksi Pembelian</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="mb-2 mt-2">
        <a href="{% url 'balai_pengobatan:index' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
        </a>
        <a href="{% url 'balai_pengobatan:create_balai' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
        </a>
        <a href="{% url 'balai_pengobatan:obat' %}">
            <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
        </a>
        <a href="{% url 'balai_pengobatan:create_obat' %}">
            <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
        </a>
    </div>
</div>
{% block content_balai %}
    <div class="container">
    <form action="{% url 'balai_pengobatan:create_balai' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="AlamatBalai">Alamat Balai</label>
            <input class="form-control" name="alamat_balai" id="AlamatBalai" type="text" required>
        </div>
        <div class="form-group">
            <label for="NamaBalai">Nama Balai</label>
            <input class="form-control" name="nama_balai" id="NamaBalai" type="text" required>
        </div>
        <div class="form-group">
            <label for="JenisBalai">Jenis Balai</label>
            <input class="form-control" name="jenis_balai" id="JenisBalai" type="text" required>
        </div>
        <div class="form-group">
            <label for="TeleponBalai">Nomor Telepon Balai</label>
            <input class="form-control" name="telepon_balai" id="TeleponBalai" type="text">
        </div>
        <div class="master">
            <div class="form-group-dropdown">
                <label class="mr-sm-2" for="id_apotek_berasosiasi">ID Apotek Berasosiasi</label>
                <select class="custom-select mr-sm-2" name = "id_apotek_berasosiasi" id="id_apotek_berasosiasi">
                    {% for item in tambah %}
                    <option>{{item}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="added">

        </div>
        <button type='submit' class='btn btn-outline-secondary' id='submit'>Submit</button>
        <a class='btn btn-outline-secondary' href="{% url 'balai_pengobatan:index'%}">Back</a>
    </form>
    <button id = "addDropdown" class="btn btn-primary">Add ID Apotek</button>
    <button id = "deleteDropdown" class="btn btn-primary">Reset ID Apotek</button>
    </div>
<script src="{% static 'dropdown.js'%}"></script>
{% endblock %}
{% endblock %}