{% extends 'base_with_login.html' %}

{% block title  %}
    {% block title_balai %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    <h1 class="text-center">Daftar Balai Pengobatan</h1>
    {% endblock %}
    <div class="container">
      <div class="mb-2 mt-2">
        <a href="{% url 'balai_pengobatan:index' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
        </a>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <a href="{% url 'balai_pengobatan:create_balai' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
        </a>
        {% endif %}
        <a href="{% url 'balai_pengobatan:obat' %}">
          <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
        </a>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <a href="{% url 'balai_pengobatan:create_obat' %}">
            <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
        </a>
        {% endif %}
        </div>
    </div>
    {% block content_balai %}
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Balai Pengobatan</th>
            <th>Alamat Balai Pengobatan</th>
            <th>Nama Balai Pengobatan</th>
            <th>Jenis Balai Pengobatan</th>
            <th>No. Telepon Balai Pengobatan</th>
            <th>Apotek yang Berasosiasi</th>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in context %}
          <tr>
            <td>{{ item.id_balai }}</td>
            <td>{{ item.alamat_balai }}</td>
            <td>{{ item.nama_balai }}</td>
            <td>{{ item.jenis_balai }}</td>
            <td>{{ item.telepon_balai }}</td>
            <td>
              <ul>
              {% for item2 in context2 %}
                {% if item.id_balai == item2.id_balai %}
                  <li>{{ item2.nama_apotek }}</li>
                {% endif %}
              {% endfor %}
              </ul>
            </td>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <td>
              <a class="btn btn-primary" href="{% url 'balai_pengobatan:update_balai' id=item.id_balai %}" role="button">Update</a>
              <a class="btn btn-primary" href="{% url 'balai_pengobatan:delete_balai' id=item.id_balai %}" role="button">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
{% endblock %}