{% extends 'base_with_login.html' %}
{% load static %}

{% block title  %}
    {% block title_balai %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    <h1 class="text-center">Update Balai Pengobatan</h1>
    {% endblock %}
    <div class="container">
      <div class="mb-2 mt-2">
        <a href="{% url 'balai_pengobatan:index' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
        </a>
        <a href="{% url 'balai_pengobatan:create_balai' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
        </a>
        <a href="{% url 'balai_pengobatan:obat' %}">
            <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
        </a>
        <a href="{% url 'balai_pengobatan:create_obat' %}">
            <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
        </a>
        </div>
    </div>
    {% block content_balai %}
    <div class="container">
        <form action="{% url 'balai_pengobatan:update_balai' id=context1.id_balai %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="IDBalai">ID Balai</label>
                <input class="form-control" id="IDBalai" type="text" value="{{ context.id_balai }}" readonly>
            </div>
            <div class="form-group">
                <label for="AlamatBalai">Alamat Balai</label>
                <input class="form-control" id="AlamatBalai" type="text" value="{{ context.alamat_balai }}">
            </div>
            <div class="form-group">
                <label for="NamaBalai">Nama Balai</label>
                <input class="form-control" id="NamaBalai" type="text" value="{{ context.nama_balai }}">
            </div>
            <div class="form-group">
                <label for="JenisBalai">Jenis Balai</label>
                <input class="form-control" id="JenisBalai" type="text" value="{{ context.jenis_balai }}">
            </div>
            <!-- <div class="form-group">
                <label for="JenisBalai">Jenis Balai</label>
                <input class="form-control" id="JenisBalai" type="text" value={{context1.jenis_balai}}">
            </div> -->
            <div class="form-group">
                <label for="TeleponBalai">Nomor Telepon Balai</label>
                <input class="form-control" id="TeleponBalai" type="text" value="{{ context.telepon_balai }}">
            </div>
            <div class="form-group-dropdown">
                <label class="mr-sm-2" for="id_apotek_berasosiasi">ID Apotek Berasosiasi</label>
                <select class="custom-select mr-sm-2" id="id_apotek_berasosiasi">
                  <option selected>Choose...</option>
                  <option>none</option>
                </select>
                <div class="dropdownAddable">
                    <button id="addApotek" class="btn btn-primary">Add</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class='btn btn-outline-secondary' href="{% url 'balai_pengobatan:index'%}">Back</a>
        </form>
    </div>
    <script src="{% static 'js/dropdown.js'%}"></script>
    {% endblock %}
{% endblock %}