{% extends 'base.html' %}
{% load static %}
{% block cssJs %}
    <link rel="stylesheet" href="{% static 'update.css' %}">
{% endblock %}
{% block title %}
    <title>Update Transaksi Pembelian</title>
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'balai_pengobatan:update_balai' id=context.id_balai %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_balai">ID Balai</label>
            <input class="form-control" id="id_balai" name = "id_balai"type="text" value="{{context.id_balai}}" readonly>
        </div>
        <div class="form-group">
            <label for="alamat_balai">Alamat Balai</label>
            <input class="form-control" id="alamat_balai" name = "alamat_balai" type="text" value="{{context.alamat_balai}}">
        </div>
        <div class="form-group">
            <label for="nama_balai">Nama Balai</label>
            <input class="form-control" id="nama_balai" name = "nama_balai" type="text" value="{{context.nama_balai}}">
        </div>
        <div class="form-group">
            <label for="jenis_balai">Jenis Balai</label>
            <input class="form-control" id="jenis_balai" name = "jenis_balai" type="text" value="{{context.jenis_balai}}">
        </div>
        <div class="form-group">
            <label for="telepon_balai">Nomor Telepon Balai</label>
            <input class="form-control" id="telepon_balai" name = "telepon_balai" type="text" value="{{context.telepon_balai}}">
        </div>
        <div class="master">
            {% for item2 in tambah2 %}
                <div class="form-group-dropdown">
                    <label class="mr-sm-2" for="id_apotek_berasosiasi">ID Apotek Berasosiasi</label>
                    <select class="custom-select mr-sm-2" name = "id_apotek_berasosiasi" id="id_apotek_berasosiasi">
                        {% for item in tambah %}
                            {% if item == item2 %}
                                <option value="{{item}}" selected>{{item}}</option>
                            {% else %}
                                <option value="{{item}}">{{item}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
        <div class="added">
            
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a class='btn btn-outline-secondary' href="{% url 'balai_pengobatan:index'%}">Back</a>
    </form>
    <button id = "addDropdown" class="btn btn-primary">Add ID Apotek</button>
    <button id = "deleteDropdown" class="btn btn-primary">Reset ID Apotek</button>
</div>
<script src="{% static 'dropdown.js'%}"></script>
{% endblock %}