{% extends 'base_with_login.html' %}

{% block title  %}
    {% block title_balai %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    {% endblock %}
    <div class="container">
        <div class="mb-2 mt-2">
            <a href="{% url 'balai_pengobatan:index' %}">
                <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
          </a>
          <a href="{% url 'balai_pengobatan:create_balai' %}">
                <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
          </a>
          <a href="{% url 'balai_pengobatan:obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
          </a>
          <a href="{% url 'balai_pengobatan:create_obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
          </a>
        </div>
    </div>
    {% block content_balai %}
    {% endblock %}
{% endblock %}