{% extends 'base_with_login.html' %}

{% block title  %}
    {% block title_balai %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    <h1 class="text-center">Create Obat</h1>
    {% endblock %}
    <div class="container">
        <div class="mb-2 mt-2">
            <a href="{% url 'balai_pengobatan:index' %}">
                <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
          </a>
          <a href="{% url 'balai_pengobatan:create_balai' %}">
                <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
          </a>
          <a href="{% url 'balai_pengobatan:obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
          </a>
          <a href="{% url 'balai_pengobatan:create_obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
          </a>
        </div>
    </div>
    {% block content_balai %}
    <div class="container">
        <form action="{% url 'balai_pengobatan:create_obat' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="mr-sm-2" for="inlineFormCustomSelect">ID Merk Obat</label>
                <select class="custom-select mr-sm-2" name="id_merk_obat" id="inlineFormCustomSelect">
                  {% for item in context %}
                  <option value="{{item}}">{{item}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="netto">Netto</label>
                <input class="form-control" name="netto" id="netto" type="text" required>
            </div>
            <div class="form-group">
                <label for="Dosis">Dosis</label>
                <input class="form-control" name="dosis" id="Dosis" type="text" required>
            </div>
            <div class="form-group">
                <label for="AturanPakai">Aturan Pakai</label>
                <input class="form-control" name="aturan_pakai" id="AturanPakai" type="text">
            </div>
            <div class="form-group">
                <label for="Kontraindikasi">Kontraindikasi</label>
                <input class="form-control" name="kontraindikasi" id="Kontraindikasi" type="text">
            </div>
            <div class="form-group">
                <label for="BentukKesediaan">Bentuk Kesediaan</label>
                <input class="form-control" name="bentuk_kesediaan" id="BentukKesediaan" type="text" required>
            </div>
            <button type='submit' class='btn btn-outline-secondary' id='submit'>Submit</button>
            <a class='btn btn-outline-secondary' href="{% url 'balai_pengobatan:obat'%}">Back</a>
        </form>
    </div>
    {% endblock %}
{% endblock %}