{% extends 'base_with_login.html' %}

{% block title  %}
    {% block title_balai %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block title_below %}
    <h1 class="text-center">Daftar Obat</h1>
    {% endblock %}
    <div class="container">
        <div class="mb-2 mt-2">
            <a href="{% url 'balai_pengobatan:index' %}">
                <button type="button" class="btn btn-sm btn-primary">Daftar Balai Pengobatan</button>
          </a>
          {% if request.session.role == "ADMIN_APOTEK" %}
          <a href="{% url 'balai_pengobatan:create_balai' %}">
                <button type="button" class="btn btn-sm btn-primary">Create Balai Pengobatan</button>
          </a>
          {% endif %}
          <a href="{% url 'balai_pengobatan:obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Daftar Obat</button>
          </a>
          {% if request.session.role == "ADMIN_APOTEK" %}
          <a href="{% url 'balai_pengobatan:create_obat' %}">
              <button type="button" class="btn btn-sm btn-primary">Create Obat</button>
          </a>
          {% endif %}
        </div>
    </div>
    {% block content_balai %}
    <table class="table">
      <thead>
        <tr>
          <th>ID Obat</th>
          <th>ID Produk</th>
          <th>ID Merk Obat</th>
          <th>Netto</th>
          <th>Dosis</th>
          <th>Aturan Pakai</th>
          <th>Kontraindikasi</th>
          <th>Bentuk Kesediaan</th>
          {% if request.session.role == "ADMIN_APOTEK" %}
          <th>Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in context %}
        <tr>
          <td>{{ item.id_obat }}</td>
          <td>{{ item.id_produk }}</td>
          <td>{{ item.id_merk_obat }}</td>
          <td>{{ item.netto }}</td>
          <td>{{ item.dosis }}</td>
          <td>{{ item.aturan_pakai }}</td>
          <td>{{ item.kontraindikasi }}</td>
          <td>{{ item.bentuk_kesediaan }}</td>
          {% if request.session.role == "ADMIN_APOTEK" %}
          <td>
            <a class="btn btn-primary" href="{% url 'balai_pengobatan:update_obat' id=item.id_obat %}" role="button">Update</a>
            <a class="btn btn-primary" href="{% url 'balai_pengobatan:delete_obat' id=item.id_obat %}" role="button">Delete</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
{% endblock %}