{% extends 'base.html' %}
{% load static %}
{% block cssJs %}
{% endblock %}
{% block title %}
    <title>Update Transaksi Pembelian</title>
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'balai_pengobatan:update_obat' id=context1.id_obat %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="IDObat">ID Obat</label>
            <input class="form-control" name="id_obat" id="IDObat" type="text" value="{{context1.id_obat}}" readonly>
        </div>
        <div class="form-group">
            <label for="IDProduk">ID Produk</label>
            <input class="form-control" name="id_produk" id="IDProduk" type="text" value="{{context1.id_produk}}" readonly>
        </div>
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">ID Merk Obat</label>
            <select class="custom-select mr-sm-2" name="id_merk_obat" id="inlineFormCustomSelect">
                {% for item in context2 %}
                    {% if context1.id_merk_obat == item %}
                        <option selected value = "{{item}}">{{item}}</option>
                    {% else %}
                        <option value ="{{item}}">{{item}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="netto">Netto</label>
            <input class="form-control" name="netto" id="netto" type="text" value="{{context1.netto}}">
        </div>
        <div class="form-group">
            <label for="Dosis">Dosis</label>
            <input class="form-control" name="dosis" id="Dosis" type="text" value="{{context1.dosis}}">
        </div>
        <div class="form-group">
            <label for="AturanPakai">Aturan Pakai</label>
            <input class="form-control" name="aturan_pakai" id="AturanPakai" type="text" value="{{context1.aturan_pakai}}">
        </div>
        <div class="form-group">
            <label for="Kontraindikasi">Kontraindikasi</label>
            <input class="form-control" name="kontraindikasi" id="Kontraindikasi" type="text" value="{{context1.kontraindikasi}}">
        </div>
        <div class="form-group">
            <label for="BentukKesediaan">Bentuk Kesediaan</label>
            <input class="form-control" name="bentuk_kesediaan" id="BentukKesediaan" type="text" value="{{context1.bentuk_kesediaan}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a class='btn btn-outline-secondary' href="{% url 'balai_pengobatan:obat'%}">Back</a>
    </form>
</div>
{% endblock %}