{% extends 'base_no_login.html' %}

{% block title %}
    <title>Pendafatarn Admin Apotek</title>
{% endblock %}

{% block content %}
    <h1>PENDAFTARAN ADMIN APOTEK</h1>
    {% if form1 or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form1 %}
            {% for field, errors in form1.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">DAFTAR</button>
    </form>
{% endblock %}


