<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>Homepage</title>
</head>
<body>
    <div>
        <h1>Welcome to Farmakami</h1>
    </div>
    <div class="ml-2">
        <a href="{% url 'login_register:logout' %}">
          <button class="btn btn-danger my-2 my-sm-0" type="button">Logout</button>
        </a>
    </div>
    <div class="dropdown">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
          Profil
        </button>
        <div class="dropdown-menu buttondrop">
            <a class="dropdown-item" href="{% url 'transaksi_pembelian:profil' %}">Profil Pengguna</a>
        </div>
      </div>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
        Balai Pengobatan & Apotek
      </button>
      <div class="dropdown-menu buttondrop">
        <a class="dropdown-item" href="{% url 'apotek:list_apotek' %}">Daftar Apotek</a>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <a class="dropdown-item" href="{% url 'apotek:create_apotek' %}">Create Apotek</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'balai_pengobatan:index' %}">Daftar Balai Pengobatan</a>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <a class="dropdown-item" href="{% url 'balai_pengobatan:create_balai' %}">Create Balai Pengobatan</a>
        {% endif %}
      </div>
    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
        Transaksi
      </button>
      <div class="dropdown-menu buttondrop">
        <a class="dropdown-item" href="{% url 'transaksi_pembelian:daftar' %}">Daftar Transaksi Pembelian</a>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <a class="dropdown-item" href="{% url 'transaksi_pembelian:create' %}">Create Transaksi Pembelian</a>
        {% endif %}
      </div>
    </div>
    <div class="dropdown">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
          Produk Apotek
        </button>
        <div class="dropdown-menu buttondrop">
          {% if request.session.role == "ADMIN_APOTEK" %}
          <a class="dropdown-item" href="{% url 'apotek:create_produk_apotek' %}">Create Produk Apotek</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'apotek:list_produk_apotek' %}">Daftar Produk Apotek</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
          Produk Dibeli
        </button>
        <div class="dropdown-menu buttondrop">
          {% if request.session.role == "ADMIN_APOTEK" %}
          <a class="dropdown-item" href="{% url 'list_produk_pengantaran:create_list_produk_dibeli' %}">Create Produk Dibeli</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'list_produk_pengantaran:list_produk_dibeli' %}">Daftar Produk Dibeli</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
          Pengantaran
        </button>
        <div class="dropdown-menu buttondrop">
          {% if request.session.role == "ADMIN_APOTEK" %}
          <a class="dropdown-item" href="{% url 'list_produk_pengantaran:create_pengantaran_farmasi' %}">Create Pengantaran Farmasi</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'list_produk_pengantaran:pengantaran_farmasi' %}">Daftar Pengantaran Farmasi</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
          Obat
        </button>
        <div class="dropdown-menu buttondrop">
          <a class="dropdown-item" href="{% url 'balai_pengobatan:obat' %}">Daftar Obat</a>
          {% if request.session.role == "ADMIN_APOTEK" or request.session.role == "CS" %}
          <a class="dropdown-item" href="{% url 'balai_pengobatan:create_obat' %}">Create Obat</a>
          {% endif %}
        </div>
      </div>
</body>
</html>