{% extends 'base_no_login.html' %}
{% block title %}
    <title>Pendaftaran Konsumen</title>
{% endblock %}

{% block content %}
<div>
    <h1>FORM PENDAFTARAN KONSUMEN</h1>
</div>
{% if form1_errors or form2_errors or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form1_errors %}
            {% for field, errors in form1_errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if form2_errors %}
            {% for field, errors in form2_errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
    <div id="list-alamat">
        {{ form2 }}
    </div>
    <button type="button" onclick="addAlamat()">Tambah Alamat</button>
    <button type="submit">DAFTAR</button>
</form>
{% endblock %}

{% block script %}
<script>
    let count = 1
    function addAlamat() {
        count++;
        const listAlamat = document.getElementById("list-alamat")
        const container = document.createElement("div")
        container.id=`alamat-${count}-container`
        container.innerHTML=`
            <button type="button" onclick="removeAlamat(${count})" id="alamat-${count}">Remove</button>
            <input type="text" name="status_alamat" id="alamat-${count}-input" placeholder="Status Alamat">
            <input type="text" name="alamat" placeholder="Alamat">
        `
        listAlamat.appendChild(container)
    }
    function removeAlamat(id) {
        const listAlamat = document.getElementById("list-alamat")
        if(listAlamat.children.length > 1){
             const container = document.getElementById(`alamat-${id}-container`)
            listAlamat.removeChild(container);
        }
    }
</script>
{% endblock %}
