<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmakami</title>
</head>
<body>
    <div>
        <h1>Farmakami</h1>
        <p>please login to continue or register</p>
    </div>
    <div>
        <a href="{% url 'login_register:login' %}"><button>LOGIN</button></a>
        <a href="{% url 'login_register:register' %}"><button>REGISTER</button></a>
    </div>
</body>
</html>