{% extends 'base_no_login.html' %}

{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}



{% block content %}
<div>
    <h1>Login</h1>
    <p>Login using valid email</p>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SUBMIT</button>
    </form>
</div>
{% endblock %}
