{% extends 'base_no_login.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div>
        <h1>Register</h1>
    </div>
    <div class="mb-2 mt-2">
    <a href="{% url 'login_register:admin_apotek' %}">
          <button type="button" class="btn btn-sm btn-primary">Register Admin Apotek</button>
    </a>
    <a href="{% url 'login_register:konsumen' %}">
          <button type="button" class="btn btn-sm btn-primary">Register Konsumen</button>
    </a>
    <a href="{% url 'login_register:kurir' %}">
          <button type="button" class="btn btn-sm btn-primary">Register Kurir</button>
    </a>
    <a href="{% url 'login_register:cs' %}">
          <button type="button" class="btn btn-sm btn-primary">Register CS</button>
    </a>
    </div>
{% endblock %}