{% extends 'base_with_login.html' %}{% load static  %}

{% block cssJs %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/list_produk.pengantaran.css' %}" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}
<title>Create Pengantaran Farmasi</title>
{% endblock %}

{% block content %}
<h1>FORM CREATE PENGANTARAN FARMASI</h1>
{% if form or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_transaksi">ID Transaksi</label>
            <select name="id_transaksi" class="form-control" id="id_transaksi">
                {% for id_transaksi in list_id_transaksi %}
                <option value="{{ id_transaksi }}">{{ id_transaksi }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="waktu">Waktu</label>
            <input name="waktu" type="text" class="form-control" id="waktu" required>
        </div>
        <div class="form-group">
            <label for="biaya_kirim">Biaya Kirim</label>
            <input name="biaya_kirim" type="number" class="form-control" id="biaya_kirim" required>
        </div>

        <div class="buttonHolder">
            <input class="btn btn-primary" type="submit">
        </div>
    </form>
</div>

<script>
    $( function() {
      $( "#waktu" ).datepicker();
    } );
    </script>
{% endblock %}