{% extends 'base_with_login.html' %}{% load static  %}

{% block cssJs %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'css/list_produk.pengantaran.css' %}" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
<title>List Produk Dibeli</title>
{% endblock %}

{% block content %}
<div class="header">
    <h1>LIST PRODUK DIBELI</h1>
</div>
<table id="listProdukDibeliTable">
    <thead>
        <tr>
            <th>ID Produk</th>
            <th>ID Apotek</th>
            <th>ID Transaksi Pembelian</th>
            <th>Jumlah</th>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for data in content  %}
        <tr>
            <td>{{ data.id_produk }}</td>
            <td>{{ data.id_apotek }}</td>
            <td>{{ data.id_transaksi_pembelian }}</td>
            <td>{{ data.jumlah }}</td>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <td><a class="btn btn-primary"
                    href="{% url 'list_produk_pengantaran:update_list_produk_dibeli' id_apotek=data.id_apotek id_produk=data.id_produk id_transaksi_pembelian=data.id_transaksi_pembelian %}"
                    role="button">Update</a>
                <a class="btn btn-danger"
                    href="{% url 'list_produk_pengantaran:delete_list_produk_dibeli' id_apotek=data.id_apotek id_produk=data.id_produk id_transaksi_pembelian=data.id_transaksi_pembelian %}"
                    role="button">Delete</a></td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>

<!-- external js -->
<script src="{% static 'js/list_produk_dibeli.js' %}"></script>
{% endblock %}