{% extends 'base_with_login.html' %} {% load static %}{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_produk.pengantaran.css' %}" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Google jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Pengantaran Farmasi</title>
</head>

<body>
    <div class="header">
        <h1>PENGANTARAN FARMASI</h1>
    </div>
    <table id="pengantaranFarmasiTable">
        <thead>
            <tr>
                <th>ID Pengantaran</th>
                <th>ID Kurir</th>
                <th>ID Transaksi</th>
                <th>Waktu</th>
                <th>Status</th>
                <th>Biaya Kirim</th>
                <th>Total Biaya</th>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for data in content  %}
            <tr>
                <td>{{ data.id_pengantaran }}</td>
                <td>{{ data.id_kurir }}</td>
                <td>{{ data.id_transaksi_pembelian }}</td>
                <td>{{ data.waktu }}</td>
                <td>{{ data.status_pengantaran }}</td>
                <td>{{ data.biaya_kirim }}</td>
                <td>{{ data.total_biaya }}</td>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <td><a class="btn btn-primary" href="{% url 'list_produk_pengantaran:update_pengantaran_farmasi' id=data.id_pengantaran %}"
                        role="button">Update</a>
                    <a class="btn btn-danger" href="{% url 'list_produk_pengantaran:delete_pengantaran_farmasi' id=data.id_pengantaran %}" role="button">Delete</a></td>
                {% endif %}
                </tr>
        </tbody>
        {% endfor %}
    </table>

    <!-- external js -->
    <script src="{% static 'js/list_produk_dibeli.js' %}"></script>
</body>

</html>
{% endblock %}