{% extends 'base_with_login.html' %}{% load static %}{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/list_produk.pengantaran.css' %}" />

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Google jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  

  <title>Update Pengantaran Farmasi</title>
</head>

<body>
  <h1>FORM UPDATE PENGANTARAN FARMASI</h1>
  <div class="form">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_pengantaran">ID Pengantaran</label>
        <input name="id_pengantaran" type="number" class="form-control" placeholder="1" id="id_pengantaran"
          value="{{ data.id_pengantaran }}" disabled>
      </div>
      <div class="form-group">
        <label for="id_kurir">ID Kurir</label>
        <input name="id_kurir" type="text" class="form-control" id="id_kurir" value="{{ data.id_kurir }}" disabled>
      </div>
      <div class="form-group">
        <label for="id_transaksi">ID Transaksi</label>
        <input name="id_transaksi" type="text" class="form-control" id="id_transaksi" value="{{ data.id_transaksi_pembelian }}" disabled>
      </div>
      <!-- <div class="form-group">
        <label for="waktu">Waktu</label>
        <input name="waktu" type="datetime-local" class="form-control" id="waktu" value="{{ data.waktu }}">
      </div> -->
      <div class="form-group">
        <label for="waktu">Waktu</label>
        <input name="waktu" type="text" class="form-control" id="waktu" required>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input name="status" type="text" class="form-control" id="status" value="{{ data.status_pengantaran }}"
        placeholder="Picked Up -> Processing -> Done">
      </div>
      <div class="form-group">
        <label for="biaya_kirim">Biaya Kirim</label>
        <input name="biaya_kirim" type="number" class="form-control" min="0" id="biaya_kirim"
          value="{{ data.biaya_kirim }}">
      </div>
      <div class="form-group">
        <label for="total_biaya">Total Biaya</label>
        <input name="total_biaya" type="number" class="form-control" placeholder="20000" id="total_biaya"
          value="{{ data.total_biaya }}" disabled>
      </div>
      <div class="buttonHolder">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>

  <script>
    $( function() {
      $( "#waktu" ).datepicker();
    } );
    </script>
</body>

</html>
{% endblock %}