{% extends 'base_with_login.html' %} {% load static %}{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/list_produk.pengantaran.css' %}" />

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Google jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <title>Update List Produk Dibeli</title>
</head>

<body>
  <h1>FORM UPDATE LIST PRODUK DIBELI</h1>
  {% if form or message %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% if form %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if message %}
            <li>{{ message }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
  <div class="form">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_produk">ID Produk</label>
        <input name="id_produk" type="number" class="form-control" id="id_produk" placeholder="1" value="{{ data.id_produk }}" disabled>
      </div>
      <div class="form-group">
        <label for="id_apotek">ID Apotek</label>
        <input name="id_apotek" type="number" class="form-control" id="id_apotek" placeholder="1" value="{{ data.id_apotek }}" disabled>
      </div>
      <div class="form-group">
        <label for="id_transaksi_pembelian">ID Transaksi Pembelian</label>
        <select name="id_transaksi_pembelian" class="form-control" id="id_transaksi_pembelian">
          {% for id_transaksi_pembelian in list_id_transaksi_pembelian %}
          {% if id_transaksi_pembelian == data.id_transaksi_pembelian %}
          <option value="{{ id_transaksi_pembelian }}" selected>{{ id_transaksi_pembelian }}</option>
          {% else %}
          <option value="{{ id_transaksi_pembelian }}">{{ id_transaksi_pembelian }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="jumlah">Jumlah</label>
        <input name="jumlah" type="number" class="form-control" min="0" id="jumlah" value="{{ data.jumlah }}">
      </div>
      <div class="buttonHolder">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</body>

</html>
{% endblock %}