<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block cssJs %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-2">
    <a class="navbar-brand" href="{% url 'login_register:homepage' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'transaksi_pembelian:profil' %}">Action</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Balai Pengobatan & Apotek
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'apotek:list_apotek' %}">Daftar Apotek</a>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'apotek:create_apotek' %}">Create Apotek</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'balai_pengobatan:index' %}">Daftar Balai Pengobatan</a>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'balai_pengobatan:create_balai' %}">Create Balai Pengobatan</a>
            {% endif %}
          </div>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transaksi
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'transaksi_pembelian:daftar' %}">Daftar Transaksi Pembelian</a>
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'transaksi_pembelian:create' %}">Create Transaksi Pembelian</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produk Apotek
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'apotek:create_produk_apotek' %}">Create Produk Apotek</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'apotek:list_produk_apotek' %}">Daftar Produk Apotek</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produk Dibeli
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:create_list_produk_dibeli' %}">Create Produk Dibeli</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:list_produk_dibeli' %}">Daftar Produk Dibeli</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pengantaran
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:create_pengantaran_farmasi' %}">Create Pengantaran Farmasi</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:pengantaran_farmasi' %}">Daftar Pengantaran Farmasi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produk Medis
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:create_pengantaran_farmasi' %}">Create Pengantaran Farmasi</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'list_produk_pengantaran:pengantaran_farmasi' %}">Daftar Pengantaran Farmasi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Obat
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.session.role == "ADMIN_APOTEK" %}
            <a class="dropdown-item" href="{% url 'balai_pengobatan:create_obat' %}">Create Obat</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'balai_pengobatan:obat' %}">Daftar Obat</a>
          </div>
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0 mr-4">
          <a href="{% url 'login_register:logout' %}">
            <button class="btn btn-danger my-2 my-sm-0" type="button">Logout</button>
          </a>
        </form>
      </div>
    </div>
  </nav>
{% block content %}
{% endblock %}
</body>
</html>